<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MQTT Dashboard</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/content/dist/img/mqtt-logo-ver.jpg" type="image/x-icon" />
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/content/plugins/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- jsGrid -->
    <link rel="stylesheet" href="/content//plugins/jsgrid/jsgrid.min.css" />
    <link rel="stylesheet" href="/content//plugins/jsgrid/jsgrid-theme.min.css" />
    <!-- Theme style -->
    <link rel="stylesheet" href="/content/dist/css/adminlte.min.css" />
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        {{>header}}
    {{{body}}}
    </div>


    
    <!-- jQuery -->
    <script src="/content/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- jsGrid -->
    <script src="/content/plugins/jsgrid/demos/db.js"></script>
    <script src="/content/plugins/jsgrid/jsgrid.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/content/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/content/dist/js/demo.js"></script>
    <!-- Page specific script -->
    <script>
        $(function () {
            $("#jsGrid1").jsGrid({
                height: "100%",
                width: "100%",

                sorting: true,
                paging: true,

                data: db.clients,

                fields: [
                    { name: "ID", type: "text", width: 50 },
                    { name: "Vị trí", type: "number", width: 150 },
                    { name: "Công suất", type: "text", width: 150 },
                    {
                        name: "Ngày lắp đặt",
                        type: "select",
                        items: db.countries,
                        valueField: "Id",
                        textField: "Name",
                        width: 100,
                    },
                    { name: "Trạng thái", type: "checkbox", title: "Trạng thái" },
                ],
            });
        });
    </script>
</body>

</html>